<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pluginDirectories" type="BookShelf.ConfigHelpers.PluginDirectories, BookShelf" />
    <section name="iconPathSection" type="BookShelf.ConfigHelpers.IconPathSection, BookShelf" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="LoadHotkey" value="Ctrl+L"/>
    <add key="SaveHotkey" value="Ctrl+S"/>
  </appSettings>

  <pluginDirectories>
    <directory location="C:\Users\Gudoque\source\repos\BookShelf\GreenAndBlackPlugin\bin\Debug"/>
    <directory location="C:\Users\Gudoque\source\repos\BookShelf\StatisticsPlugin\bin\Debug"/>
  </pluginDirectories>

  <!--<iconPathSection>
    <path icon="file" location="C:\Users\Gudoque\Desktop\monkey.png"/>
    <path icon="add" location="C:\Users\Gudoque\Desktop\monkey.png"/>
    <path icon="plugins" location="C:\Users\Gudoque\Desktop\monkey.png"/>
    <path icon="edit" location="C:\Users\Gudoque\Desktop\monkey.png"/>
    <path icon="delete" location="C:\Users\Gudoque\Desktop\monkey.png"/>
    <path icon="carousel" location="C:\Users\Gudoque\Desktop\monkey.png"/>
  </iconPathSection>-->
  
  <iconPathSection>
    <path icon="file" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\file.png"/>
    <path icon="add" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\library.png"/>
    <path icon="plugins" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\ext.png"/>
    <path icon="edit" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\edit.png"/>
    <path icon="delete" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\delete.png"/>
    <path icon="carousel" location="C:\Users\Gudoque\source\repos\BookShelf\BookShelf\Images\carousel.png"/>
  </iconPathSection>
</configuration>