<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pluginDirectories" type="BookShelf.ConfigHelpers.PluginDirectoriesSection, BookShelf" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  

  
  <appSettings>
    <add key="LoadHotkey" value="Ctrl+L"/>
    <add key="SaveHotkey" value="Ctrl+S"/>
  </appSettings>

  <pluginDirectories>
    <directory location="C:\Users\Gudoque\source\repos\BookShelf\GreenAndBlackPlugin\bin\Debug"/>
    <directory location="C:\Users\Gudoque\source\repos\BookShelf\StatisticsPlugin\bin\Debug"/>
  </pluginDirectories>
</configuration>